*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
    body{
        background: url(images/background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 220vh;
        width: 100%;
    }
    
    .logo{
        float: left;
        margin: 10px;
    }
    
    .logo img {
        width: 100px;
        height: 70px;
        border: none;
    }
    
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgb(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5;
    }
    
    .overlay-content{
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    
    }
    
    .overlay a{
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    .overlay a:hover{
        color: blue;
    }
    
    .overlay a:focus {
        color: blue;
    }
    
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
    
    .current {
        background: rgb(17, 17, 39);
    }
    
    .menu {
        margin-left: 120px;
        margin-top: 30px;
    }
    
    .menu button {
        margin-top: 20px;
        padding: 5px;
        font-size: 20px;
        background-color: rgb(37, 37, 82);
        float: right;
        margin-right: 10px;
    }

    .content {
        margin-top: 100px;
        width: 100%;
    }
    
    .content h1 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 30px;
        width: 100%;
        padding: 20px;
    }
    

    .container {
        position: absolute;
        margin-top: 10px;
        margin-left: 120px;
        width: 160px;
        height: 161px;
    }

    .image img {
        width: 160px;
        height: 161px;
    }

    .overplay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: black;
        cursor: pointer;
        opacity: 0.8;
    }

    .layer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 15px;
    }

    .layer a {
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        color: white;
    }


    .image2 {
        margin-top: 20px;
        position: absolute;
        width: 160px;
        height: 161px;
    }

    .image2 img {
        width: 160px;
        height: 161px;
    }

    .overplay2 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: black;
        opacity: 0.8;
        cursor: pointer;
    }

    .layer2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
    }

    .layer2 a {
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        color: white;
    }


    .image3 {
        position: absolute;
        margin-top: 210px;
        width: 160px;
        height: 161px;
    }

    .image3 img {
        width: 160px;
        height: 161px;
    }

    .overplay3 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: black;
        opacity: 0.8;
    }

    .layer3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Courier New', Courier, monospace;
        font-size: 15px;
    }

    .layer3 a {
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        color: white;
    }


@media only screen and (min-width: 768px) {
    .logo{
        float: left;
        margin: 10px;
        margin-top: 20px;
    }
    
    .logo img {
        width: 200px;
        height: 130px;
        border: none;
    }

    .menu {
        margin-left: 100px;
        margin-top: 40px;
    }
    
    .menu button {
        margin-top: 20px;
        padding: 5px;
        font-size: 40px;
        background-color: rgb(37, 37, 82);
        float: right;
        margin-right: 10px;
    }

    .content {
        margin-top: 200px;
        width: 100%;
    }
    
    .content h1 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 50px;
        width: 100%;
        padding: 20px;
    }

    .container {
        margin-top: 10px;
        margin-left: 270px;
        }

    .image {
        position: absolute;
        width: 210px;
        height: 211px;
    }

    .image img {
        width: 210px;
        height: 211px;
    }

    .layer {
        font-size: 21px;
    }

    .layer a {
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        color: white;
    }


    .image2 {
        position: absolute;
        margin-top: 250px;
        width: 210px;
        height: 211px;
    }

    .image2 img {
        width: 210px;
        height: 211px;
    }

    .layer2 {
        font-size: 26px;
    }

    .layer2 a {
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        color: white;
    }


    .image3 {
        position: absolute;
        margin-top: 500px;
        width: 210px;
        height: 211px;
    }

    .image3 img {
        width: 210px;
        height: 211px;
    }

    .layer3 {
        font-size: 19px;
    }

    .layer3 a {
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        color: white;
    }

}

@media only screen and (min-width: 1000px) {
    body{
        background: url(images/background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 190vh;
        width: 100%;
    }
    
    .logo{
        float: left;
        margin: 10px;
        margin-top: 20px;
    }
    
    .logo img {
        width: 200px;
        height: 130px;
        border: none;
        margin-left: 10px;
    }
    
    
    .overlay {
        height: 100%;
        width: 0%;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgb(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5;
    }
    
    .overlay-content{
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    
    }
    
    .overlay a{
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    .overlay a:hover{
        color: blue;
    }
    
    .overlay a:focus {
        color: blue;
    }
    
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
    
    .current {
        background: rgb(17, 17, 39);
    }
    
    .menu {
        margin-left: 160px;
        margin-top: 40px;
    }
    
    .menu button {
        margin-top: 20px;
        padding: 5px;
        font-size: 40px;
        background-color: rgb(37, 37, 82);
        float: right;
            }
    
    .content {
        margin-top: 230px;
        width: 100%;
    }
    
    .content h1 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 45px;
        padding: 20px;
    }
    
    .container {
        margin-left: 100px;
        margin-top: 5px;
    }
    
    .image {
        width: 150px;
        height: 151px;
        position: absolute;
        margin-top: 100px;
        margin-left: 120px;
        box-shadow: 0 10px 20px rgb(40, 40, 40);
    
    }
    
    .image img {
        width: 150px;
        height: 151px;
    }
    
    .overplay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 0.8s ease-in-out;
        background: black;
        cursor: pointer;
    }
    
    .layer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 15px;
    
    }
    
    .layer a {
        text-decoration: none;
        color: white;
        font-family: 'Courier New', Courier, monospace;
    }
    
    .image:hover .overplay{
        opacity: 0.92;
    }
    
    .image2 {
        width: 150px;
        height: 151px;
        position: absolute;
        margin-top: 100px;
        margin-left: 490px;
        box-shadow: 0 10px 20px rgb(40, 40, 40);
    
    }
    
    
    .image2 img {
        width: 150px;
        height: 151px;
    }
    
    .overplay2{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: opacity 0.8s ease-in-out;
        opacity: 0;
        background: black;
        cursor: pointer;
    
    }
    
    .layer2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 22px;
        
    }
    
    .layer2 a {
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        color: white;
    }
    
    .image2:hover .overplay2{
        opacity: 0.92;
    }
    
    .image3 {
        width: 150px;
        height: 151px;
        position: absolute;
        margin-top: 100px;
        margin-left: 800px;
        box-shadow: 0 10px 20px rgb(40, 40, 40);
    }   
    
    .image3 img {
        width: 150px;
        height: 151px;
    }
    
    .overplay3 {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: opacity 0.8s ease-in-out;
        background: black;
        opacity: 0;
        cursor: pointer;
    }
    
    .layer3 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 14px;
    
    }
    
    .layer3 a {
        text-decoration: none;
        color: white;
        font-family: 'Courier New', Courier, monospace;
    }
    
    .image3:hover .overplay3 {
        opacity: 0.92;
    }
                  }
    