.menu button {
    animation-name: menu;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}

@keyframes menu {
    0% {background-color: rgb(37, 37, 82);}
    50% {background-color: white;}
    70% {background-color: yellow;}
    100% {background-color: rgb(68, 18, 18);}
}

.logo img {
    animation-name: img;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes img {
    100% {transform: rotate(360deg); background: blue;}
}